# OS
.DS_Store
Thumbs.db

# Go
bin/
build/
dist/
coverage/
*.out
*.test
vendor/

#oracle instant
orc_client/

# IDE/Editor
.vscode/
.idea/

# Env files (never commit secrets)
.env
configs/.env

# Docker
.docker/
*.tar

# Logs & temp
*.log
tmp/
